<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
    <h1>Update from</h1>
    <form action="/editrecord/<%= listRecord .id%>" method="post">
        <label for="">Task</label>
        <input type="text" name="task" id="" value="<%= listRecord.task%>">
        <label for="">Description</label>
        <input type="text" name="desc" id="" value="<%= listRecord.desc%>">
        <button type="submit">Update Record</button>
    </form>
</body>
</html>